/* Set gradient as background */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Baumans";
  background-color: rgb(237, 232, 232);
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}
#title {
  /*  transform: rotate(270deg); */
  color: "black";
  /*  border: 1px solid black; */
  font-size: 35px;
  text-decoration: "none";
}

.container {
  color: rgb(237, 232, 232);
  max-width: 1200px;
  text-align: center;
  display: flex;
  margin-top: 2%;
  flex-direction: row;
  background-image: rgb(237, 232, 232);
  justify-content: center;
  gap: 2%;
  /*   border: 1px solid black; */
  text-decoration: none;
}

.container li {
  display: flex;
  padding-left: 5px;
  justify-content: left;
  align-items: center;
  width: 140px;
  height: 140px;
  transition: 1s;
  background-color: #e13328;
  border-radius: 2%;
}

.container li:visited {
  background-color: transparent;
  border-radius: 70%;
  color: red;
  border: 1px solid black;
  text-decoration: none;
}

/* hover behaviour */
.container li:hover {
  background-color: rgb(237, 232, 232);
  border-radius: 70%;

  border: 1px solid black;
  text-decoration: none;
}

/* backgroundcolors */
.container li:nth-of-type(1) {
  background-color: rgb(237, 232, 232);
}

.container li:nth-of-type(2n) {
  background-color: black;
}

.container li:nth-of-type(4) {
  background-color: #ab8e64;
}

/* PRYRAMIDE */
/* .container li:hover {
  width: 128px;
  border-left: 70px dotted transparent;
  border-right: 70px solid transparent;
  border-bottom: 130px solid blue;
} */

/* .container li:hover {
  background-color: rgb(237, 232, 232);
  border-radius: 70%;
  color: black;
} */

/* .container li:hover:nth-of-type(1n + 1) {
  background-color: #ab8e64;
  border-radius: 70%;
} */

/* ******************** */
/*  "a" affects "Link" */
a {
  color: inherit;
}

.page_container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  color: black;
  margin: 5% -2%;
  padding: 2%;
  width: 100%;
  background-color: transparent;
  text-decoration: none;
}

/* .card {
  grid-area: card;
} */
.intro-text {
  margin-right: 50px;
  font-size: 20px;
  text-align: justify;
  padding-top: 25%;
}

.image_container {
  font-size: 20px c;
}

.grid-item-3 {
  grid-column: span 2;
  margin-top: 10%;
  margin-left: 31%;
  width: 20%;
  height: 120%;
  border: 3px solid red;
}

.text-gi3 {
  color: red;
  padding-top: 20px;
}
